ion-content{
    --ion-background-color: #E74C3C !important;
   
  }
  .my-grid {
    height: 100% !important;
 }
.parent-row {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
 }
 .line-input {
  margin-bottom: 0!important;
  ion-item {
      --border-color: transparent!important;
      --highlight-height: 0;
      border: 1px solid #dedede;
      border-radius: 7px;
      color:"light";
      &.item-has-focus {
          border: 1px solid var(--ion-color-primary);
      }
      ion-label {
          color: #807e7e!important;
          font-weight: 300;
          font-size: 1rem!important;
      }
  }
}
.aumentar-letra{
    font-size: 20px;
    margin-top: 120%;
}