<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button text=""  defaulthref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>acerca-de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light"> 
    <ion-img src="assets/Uvaq_logo.png"></ion-img>
<h1>Esta aplicacion fue creada por alumno de la Universidad Vasco de Quiroga</h1>
<br>
<br>
<h2>Integrantes: Santiago Camacho Rangel, Luis Angel Cruz Treviño, Ricardo Heras Cervantes, Julio Cesar Navarro Quezada, Jason Manuel Román Arellano</h2>
</ion-content>